<div>
  <h2>{{contact.name}}</h2>
  <ul>
    <li>Email: {{ contact.email }}</li>
    <li>Phone: {{ contact.phone }} </li>
  </ul>
</div>
<input type="text" name="name"
       placeholder="Name" [(ngModel)]="contact.name">
<input type="email" name="email"
       placeholder="name@domain.com" [(ngModel)]="contact.email">
<input type="tel" name="phone"
       placeholder="Phone number" [(ngModel)]="contact.phone">
<input type="checkbox" name="isFavorite" id="isFavorite"[(ngModel)]="contact.isFavorite" ]>
<label for="isFavorite">Favorite</label><br>
<button type="button" (click)="submit()">Submit</button>
